/Ben Vickers MATH_BIO_Assignment_3.pdf
/carrying 2.py
/carrying_simplex_fit.py
/cheb_coeffs_deg6.csv
/cheb_coeffs_deg6_meta.json
/Phase plot 2.png
/Phase plot 3.png
/Phase plot 4.png
/Phase plot 5.png
/Phase plot 6.png
/Phase plot local.png
/Phase plot local2.png
/Phase plot.png
/Python plot.png
/Steadystates.png